*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-style: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ================================================================================================= HEADER ================================================================================================= */
.header-area {
    background-color: #005ad5;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}
.header-logo{
    width: 30%;
    display: flex;
    justify-content: center;
}
.header-nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}
.img-logo{
    max-width: 25%;
}
nav{
    width: 100%;
}
.header-nav-links{
    margin-left: 25px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-links li {
    list-style: none;
    transition: 0.1s 0.2s;
    position: relative;
}
.header-nav-links li:hover{
    border: 0.5px solid rgba(255,255,255,.3);
    border-radius: 5px;
}
.header-nav-links li::before{
    content: "";
    width: 0%;
    position: absolute;
    top: 0;
    left: 25%;
    border: 1px solid #fff;
    opacity: 0;
    transition: 0.5s 0.2s;
}
.header-nav-links li::after{
    content: "";
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 25%;
    opacity: 0;
    border: 1px solid #fff;
    transition: 0.5s 0.2s;
}
.header-nav-links li:hover::after, .header-nav-links li:hover::before {
    opacity: 1;
    width: 50%;
}
.header-nav-links li a{
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 45px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px;
}
.header-button{
    width: 30%;
    margin-right: 80px;
}
.header-button-getaquote{
    width: 130px;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 600;
    background-color: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: 0.3s;
}
.header-button-getaquote:hover{
    background-color: #8bbabb;
}
/*=============================================================================================== HOME ================================================================================================*/
.home{
    margin-top: 120px;
    width: 100%;
    background-color:#005ad5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40vh), 0 100%);
}
.home-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.home-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: white;
    margin-top: -120px;
    margin-left: 10px;
    font-weight: 600;
}
.home-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 100;
    margin-left: 10px;
    line-height: 33px;
    margin-top: 20px;
}
.home-img{
    width: 60%;
    margin-left: -150px;
}
.home-img img{
    width: 95%;
    margin-top: -85px;
}
.home-button{
    width: 180px;
    line-height: 50px;
    height: 50px;
    margin-top: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #005ad5;
    background-color: white;
    border-radius: 28px;
    outline: none;
    border:0;
}
.home-button:hover{
    background-color:#005ad5;
    border: 2px solid white;
    color: white;
    line-height: 50px;
}
/* ================================================================================================= DESIGN ================================================================================================= */
.design{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.dsgn{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dsgn h2{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
}
.dsgn p{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.button-design {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    color: #005ad5;
    font-weight: 700;
    font-size: 15px;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: 2.3px solid #005ad5;
}
.button-design:hover{
    color: white;
    background-color:#005ad5;
}
/* ================================================================================================ 
/*ABOUT ================================================================================================ */
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 100px;
}
.about-left{
    width: 40%;
    font-family: 'Poppins', sans-serif;
}
.about-left h2{
    font-size: 40px;
    font-weight: 700;
}
.about-left p{
    font-size: 18px;
}
.about-right{
    width: 40%;
    font-family: 'Poppins', sans-serif;
}
.right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.about-img img{
    width: 100%;
    margin-bottom: 50px;
}
img.logo-about{
    width: 130%;
}
.about-text{
    margin-left: 35px;
}
.about-text h3{
    margin-bottom: 10px;
}
/*=============================================================================================== RESPONSIVE ================================================================================================*/
@media (max-width: 1150px){
    .header-area{
        position: static;
   }
    .home {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 0;
   }
    .home-img{
        display: none;
   }
    .home-text{
        margin-top: 200px;
   }
    .home, .design, .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 350px;
   }
    .about-right{
        margin-top: 100px;
   }
}
@media (max-width: 930px){
    .header-logo, .header-button{
        display: none;
   }
    .header-nav ul {
        display: flex;
        flex-wrap: wrap;
   }
}
